services:
  bq-mailer-dev:
    build:
      context: .
      dockerfile: ./docker/mailer/Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - ./node_modules:/app/node_modules
      - ./apps/mailer:/app/apps/mailer
      - ./packages/data:/app/packages/data
    env_file:
      - apps/mailer/.env

  # for building a local prod version
  bq-mailer-build:
    build:
      context: .
      dockerfile: ./docker/mailer/Dockerfile.prod
    image: blockqueue/mailer:latest

  bq-mailer-test:
    image: blockqueue/mailer:latest # for testing the locally built image
    # image: ghcr.io/blockqueue/mailer:v0.0.1 # for testing the remote image build
    ports:
      - '3000:3000'
    volumes:
      - ./packages/data/config:/config
      - ./packages/data/templates:/templates
    env_file:
      - apps/mailer/.env.test
