services:
  bq-mailer-dev:
    build:
      context: .
      dockerfile: ./docker/mailer/Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - ./node_modules:/app/node_modules
      - ./apps/mailer:/app/apps/mailer
      - ./packages/data:/app/packages/data
    env_file:
      - apps/mailer/.env

  bq-mailer-test:
    image: blockqueue/mailer:latest
    ports:
      - '3000:3000'
    volumes:
      - ./packages/data/config:/config
      - ./packages/data/templates:/templates
    env_file:
      - apps/mailer/.env.test
