CONFIG_PATH=../../examples/notifier-service/config/config.yaml
TEMPLATES_DIR=../../examples/notifier-service/templates

LOG_LEVEL=info

NOTIFIER_API_KEY=local-api-key
NOTIFIER_SIGNING_SECRET=local-signing-secret

MAIL_FROM_EMAIL=noreply@example.com
ZEPTOMAIL_API_KEY=dummy-zeptomail-api-key

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=dummy-aws-access-key-id
AWS_SECRET_ACCESS_KEY=dummy-aws-secret-access-key

TERMII_API_KEY=dummy-termii-api-key
TERMII_FROM=MyApp
