# Optional named variables
CONFIG_PATH=../../packages/data/config/config.yaml
TEMPLATES_DIR=../../packages/data/templates

# user defined variables based on config.yaml
MAILER_API_KEY=wefeqfdwfwrfqfweq9343rrwfeafeqr42r432ef
MAILER_SIGNING_SECRET=wefeqfdwfwrfqfweq9343rrwfeafeqr42r432ef

MAIL_FROM_EMAIL=noreply@example.com

SMTP_USER=some-user
SMTP_PASSWORD=some-password
